Source: loudml
Section: unknown
Priority: optional
Maintainer: Red Mint Network <packaging@redmintnetwork.com>
Build-Depends:
  debhelper (>= 9),
  dh-python,
  dh-systemd,
  python-all,
  python-setuptools,
  python3-all,
  python3-setuptools
Standards-Version: 3.9.5
Homepage: http://www.loudml.io/
#Vcs-Git: git://anonscm.debian.org/collab-maint/loudml.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/loudml.git;a=summary

Package: loudml
Architecture: all
Depends:
  ${misc:Depends},
  ${python3:Depends},
  python3-flask,
  python3-h5py,
  python3-networkx,
  python3-voluptuous,
  python3-yaml,
Description: LoudML core package
 LoudML core package.
 .
 The following dependencies have to be installed by hand:
 .
 pip3 install 'tensorflow<=1.3.1,>=1.3.0'
 pip3 install 'hyperopt==0.1'
 pip3 install 'dateutils>=0.6.6'
