#!/usr/bin/make -f

#export DH_VERBOSE = 1
export PYBUILD_NAME = loudml
# Testing tries to use dependencies that could be absent.
export PYBUILD_DISABLE = test
# Disable build for Python2
export PYBUILD_DISABLE_python2 = 1

%:
	dh $@ --with python3,systemd --buildsystem=pybuild

# Enable instances limitations
override_dh_auto_configure:
	sed -i 's/# *DISABLED check_instance()/check_instance()/' loudml/server.py
	dh_auto_configure

# Keep bytecode instead of source code
# Because cleaning done by dh_python3 is not configurable, the function
# /usr/share/dh-python/dhpython/fs.py:is_unwanted_file() has to be edited to
# always return False.
_pydir := debian/loudml/usr/lib/python3.5/dist-packages
_enterprise_pydir := debian/loudml-enterprise/usr/lib/python3.5/dist-packages
override_dh_install:
	dh_install

	mkdir -p debian/loudml
	mv debian/python3-loudml/* debian/loudml/
	rm -f ${_pydir}/loudml/*.py
	for src in $$(find ${_pydir}/loudml/__pycache__/ -name "*.cpython-35.pyc"); \
	do \
		dst=$$(basename $$src .cpython-35.pyc).pyc; \
		cp $$src ${_pydir}/loudml/$$dst; \
	done
	rm -f ${_pydir}/rmn_common/*.py
	for src in $$(find ${_pydir}/rmn_common/__pycache__/ -name "*.cpython-35.pyc"); \
	do \
		dst=$$(basename $$src .cpython-35.pyc).pyc; \
		cp $$src ${_pydir}/rmn_common/$$dst; \
	done
	find ${_pydir} -name requires.txt | xargs rm -f

	# loudml-enterprise subpackage
	mkdir -p ${_enterprise_pydir}/loudml
	mv ${_pydir}/loudml/fingerprints.* ${_enterprise_pydir}/loudml

	# loudml-internal subpackage
	mkdir -p debian/loudml-internal/usr/bin
	mv debian/loudml/usr/bin/loudml-lic debian/loudml-internal/usr/bin/

override_dh_installinit:
	dh_installinit --no-start --name=loudmld
