.debhelper/
*.build
*.buildinfo
*.changes
*.deb
*.debhelper.log
*.egg-info/
*.pybuild/
*.swn
/build
__pycache__/
debhelper-build-stamp
base/debian/changelog
base/debian/files
base/debian/loudml-base.substvars
base/debian/loudml-base/
loudml*/build
loudml*/dist
loudml*/debian/changelog
loudml*/debian/files
loudml*/debian/*.substvars
loudml*/debian/*.postinst.debhelper
loudml*/debian/*.postrm.debhelper
loudml*/debian/*.prerm.debhelper
loudml-elastic/debian/loudml-elastic/
loudml-elastic-aws/debian/loudml-elastic-aws/
loudml-influx/debian/loudml-influx/
loudml/debian/loudml/
loudml/debian/loudml-enterprise/
loudml/debian/loudml-internal/
