aniso8601==8.0.0          # via flask-restful
argparse==1.4.0           # via dateutils
boto3==1.12.39
botocore==1.13.28         # via boto3, s3transfer
certifi==2019.11.28       # via loudml-python, requests
chardet==3.0.4            # via requests
click==7.0                # via flask
cloudpickle==1.2.2        # via hyperopt
daiquiri==1.6.0
dateutils==0.6.7
decorator==4.4.1          # via networkx
dictdiffer==0.8.0
docutils==0.15.2          # via botocore
elasticsearch==6.3.1
flask-restful==0.3.7
flask==1.1.1
future==0.18.2            # via hyperopt
gevent==1.5.0
greenlet==0.4.15          # via gevent
h5py==2.10.0
hyperopt==0.2.2
idna==2.8                 # via requests
influxdb==5.2.3
itsdangerous==1.1.0       # via flask
jinja2==2.10.3
jmespath==0.9.4           # via boto3, botocore
loudml-python==1.6.3
markupsafe==1.1.1         # via jinja2
networkx==2.2
numpy==1.18.2
pebble==4.4.0
pycrypto==2.6.1
pymongo==3.9.0
python-dateutil==2.8.0    # via botocore, dateutils, influxdb
pytz==2019.3
pyyaml==5.1.2
requests-aws4auth==0.9
requests==2.22.0
s3transfer==0.2.1         # via boto3
schedule==0.6.0
scipy==1.4.1              # via hyperopt
six==1.13.0               # via absl-py, cycler, flask-restful, grpcio, h5py, hyperopt, influxdb, keras-preprocessing, mock, protobuf, python-dateutil
tqdm==4.45.0              # via hyperopt, loudml-python
urllib3==1.25.8           # via botocore, elasticsearch, requests
voluptuous==0.11.7
git+git://github.com/regel/python-warp10client.git
werkzeug==0.16.0          # via flask

# The following packages are considered to be unsafe in a requirements file:
# setuptools==42.0.1        # via kiwisolver, markdown, protobuf
