Source: loudml-base
Section: unknown
Priority: optional
Maintainer: Red Mint Network <packaging@redmintnetwork.com>
Build-Depends:
  debhelper (>= 9),
  python3-pip,
Standards-Version: 3.9.5
Homepage: http://www.loudml.io/
#Vcs-Git: git://anonscm.debian.org/collab-maint/loudml.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/loudml.git;a=summary

Package: loudml-base
Architecture: all
Depends:
  ${misc:Depends},
  ${dist:Depends}
Description: Loud ML dependencies
