#!/usr/bin/make -f

ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo yes),yes)
	SUBSTVARS = -Vdist:Depends="python3-lib2to3"
else
	SUBSTVARS =
endif

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- $(SUBSTVARS)

override_dh_install: install_dir := debian/loudml-base/usr/lib/loudml/vendor
override_dh_install:
	rm -rf debian/loudml-base
	pip3 install -r vendor/requirements.txt -t "$(install_dir)"
	find "$(install_dir)" -name __pycache__ | xargs rm -rf
