
db_unit_test: &db_unit_test
    steps:
      - checkout

      - run:
          name: Wait for db
          command: dockerize -wait tcp://$DATABASE_ADDR -timeout 1m

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "base/vendor/requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r base/vendor/requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "base/vendor/requirements.txt" }}
      - run:
          name: Unit tests
          command: |
            . venv/bin/activate
            cd loudml
            unittests="$UNITTESTS" make unittest

es_unit_test: &es_unit_test
    environment:
      UNITTESTS: tests/test_elastic.py
      ELASTICSEARCH_ADDR: localhost:9200
      DATABASE_ADDR: localhost:9200
    working_directory: ~/repo
    <<: *db_unit_test

mongo_unit_test: &mongo_unit_test
    environment:
      UNITTESTS: tests/test_mongo.py
      MONGODB_DB: localhost:27017
      MONGODB_USER: foo
      MONGODB_PWD: bar
      DATABASE_ADDR: localhost:27017
    working_directory: ~/repo
    <<: *db_unit_test

warp_unit_test: &warp_unit_test
    environment:
      UNITTESTS: tests/test_warp10.py
      WARP10_URL: http://127.0.0.1:8080/api/v0
      WARP10_READ_TOKEN: readTokenCI
      WARP10_WRITE_TOKEN: writeTokenCI
      DATABASE_ADDR: 127.0.0.1:8080
    working_directory: ~/repo
    <<: *db_unit_test

influx_unit_test: &influx_unit_test
    environment:
      UNITTESTS: tests/test_influx.py
      INFLUXDB_ADDR: localhost:8086
      DATABASE_ADDR: localhost:8086
    working_directory: ~/repo
    <<: *db_unit_test

version: 2
jobs:
  test-elastic6:
    docker:
      - image: circleci/python:3.6.1
      - image: elasticsearch:6.6.1
    <<: *es_unit_test

  test-elastic5:
    docker:
      - image: circleci/python:3.6.1
      - image: elasticsearch:5.6.15
    <<: *es_unit_test

  test-mongo4:
    docker:
      - image: circleci/python:3.6.1
      - image: mongo:4.1.8
        environment:
          MONGO_INITDB_ROOT_USERNAME: foo
          MONGO_INITDB_ROOT_PASSWORD: bar
    <<: *mongo_unit_test

  test-warp10:
    docker:
      - image: circleci/python:3.6.1
      - image: warp10io/warp10:2.0.3-ci
    <<: *warp_unit_test

  test-influx1:
    docker:
      - image: circleci/python:3.6.1
      - image: influxdb:1.7.4
    <<: *influx_unit_test

  test-go:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/regel/loudml
    steps:
      - checkout

      - restore_cache:
          key: dep-0.5.0
      - run:
          name: 'Download Go dependencies tool'
          command: |
            cd /tmp
            wget -N https://github.com/golang/dep/releases/download/v0.5.0/dep-linux-amd64
            chmod +x /tmp/dep-linux-amd64
      - save_cache:
          name: 'dep-0.5.0'
          key: dep-0.5.0
          paths:
            - '/tmp/dep'

      - restore_cache:
          key: telemetry-vendor-{{ checksum "telemetry/Gopkg.lock" }}
      - run: 'cd telemetry && /tmp/dep-linux-amd64 ensure -v --vendor-only'
      - save_cache:
          name: 'telemetry vendored deps'
          key: telemetry-vendor-{{ checksum "telemetry/Gopkg.lock" }}
          paths:
            - 'telemetry/vendor'

      - run: 'cd telemetry && make test'

  test-python-unit:
    docker:
      - image: circleci/python:3.6.1
    working_directory: ~/repo
    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "base/vendor/requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r base/vendor/requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "base/vendor/requirements.txt" }}
      - run:
          name: Unit tests
          command: |
            . venv/bin/activate
            cd loudml
            make unittest

workflows:
  version: 2
  check-datasources:
    jobs:
      - test-elastic6
      - test-elastic5
      - test-mongo4
      - test-warp10
      - test-influx1
  check:
    jobs:
      - test-go
      - test-python-unit
