[Unit]
Description=Bonsai App
Requires=nginx.service
After=nginx.service

[Service]
Type=simple
ExecStartPre=/usr/sbin/loudml-exec_start_pre
ExecStart=/usr/bin/loudmld 
Restart=always

[Install]
WantedBy=multi-user.target
