[Unit]
Description=Loud ML daemon
After=network.service

[Service]
Environment=PYTHONUSERBASE=/usr/lib64/loudml/vendor
Type=simple
ExecStart=/usr/bin/loudmld
Restart=always
User=loudml
Group=loudml

[Install]
WantedBy=multi-user.target
