Source: loudml
Section: unknown
Priority: optional
Maintainer: Loud ML <packaging@loudml.io>
Build-Depends:
  debhelper (>= 9),
  dh-python,
  dh-systemd,
  dh-virtualenv,
  python3-pip,
  python3-venv,
  python3-all,
  python3-setuptools
Standards-Version: 3.9.5
Homepage: http://www.loudml.io/
Vcs-Git: git://git@github.com:regel/loudml.git
Vcs-Browser: https://github.com/regel/loudml

Package: loudml
Architecture: any
Depends:
  adduser,
  python3,
Description: Loud ML core package
 Loud ML core package.
