Source: loudml-influx
Section: unknown
Priority: optional
Maintainer: Red Mint Network <packaging@redmintnetwork.com>
Build-Depends:
  debhelper (>= 9),
  dh-python,
  python-all,
  python-setuptools,
  python3-all,
  python3-jinja2,
  python3-setuptools
Standards-Version: 3.9.5
Homepage: http://www.loudml.io/
#Vcs-Git: git://anonscm.debian.org/collab-maint/loudml.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/loudml.git;a=summary

Package: loudml-influx
Architecture: all
Depends:
  ${misc:Depends},
  ${python3:Depends},
  loudml,
Description: InfluxDB module for LoudML
 The following dependencies have to be installed by hand:
 .
 pip3 install 'influxdb>=5.0.0'
